// list styles

.blue {
	color: steelblue;
}

.tomato {
	color: tomato;
}

.big {
	font-size: 30px;
}

.btn {
	display: block;
	padding: .5rem 1rem;
	margin: 1rem 5rem;
	text-transform: uppercase;
}

.btn-info {
	background: brown;
	color: #fff;
}

#content {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
}

.lead {
	font-style: bold;
}

.center {
	text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	& li {
		display: inline-block;
		width: 20%;
		padding: 2px 5px;
		border: 1px solid black;
		background: tomato;
		margin: 2px 2px;
		text-align: center;
	}
}


