// list styles

.blue {
	color: steelblue;
}

.tomato {
	color: tomato;
}

.big {
	font-size: 30px;
}

.btn {
	display: block;
	padding: .5rem 1rem;
	margin: 1rem 5rem;
	text-transform: uppercase;
}

.btn-info {
	background: brown;
	color: #fff;
}
