mixin list(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.content = spec.content || ''

	- var lang = site.data.lang

	div(class=spec.__class)&attributes(attributes)
		if spec.content
			=spec.content
		else
			p.content This is example content

	button.btn.btn-info Submit

	div#content
		p.lead.center
			| webapplog: where code lives
		h3= lang.sitename
		ul.center
			each val in lang.lang
				li= val.name