mixin sample()
	div.content
		p.center This is some content which is centered

	div.custom-content
		p.center styled using sass directives.

	div.row
		.col-4
			p.center.tomato-icon First Col
		.col-4
			p.center.steelblue-icon Second Col
		.col-4
			p.center.brown-icon Third Col
		.col-4
			p.center.cyan-icon Fourth Col
